<%= simple_form_for(@pattern) do |f| %>
  <%= f.input :title,
              label_html: { class: "label-title"},
              input_html: { class: "label-input-text grey-background "} %>
  <%= f.input :designer,
              label_html: { class: "label-title"},
              input_html: { class: "label-input-text grey-background "}  %>
  <%= f.input :fabric_type,
              collection: Pattern::FABRIC_TYPES,
              as: :radio_buttons,
              label_html: { class: "label-title"},
              item_wrapper_class: "fabric-type-item",
              input_html: { class: "fabric-type-selector" },
              collection_wrapper_tag: "div",
              collection_wrapper_class: "fabric-type-wrapper"
              %>
  <%= f.input :garment_category_id,
              collection: GarmentCategory.sorted_all,
              value_method: :id,
              as: :radio_buttons,
              collection_wrapper_tag: "div",
              collection_wrapper_class: "category-wrapper",
              item_wrapper_class: "category-item",
              input_html: { class: "category-selector" },
              label_method: :image_flip_card,
              #:label_method => lambda { |category| image_tag "icons/#{category.downcase.gsub("/","_")}.png", class: "garment-category-icon" },
              label_html: { class: "label-title"}
              %>
  <%= f.input :pattern_url,
              label_html: { class: "label-title"},
              input_html: { class: "label-input-text grey-background "} %>
  <%= f.input :purchased,
              as: :radio_buttons,
              label: "Purchased?",
              label_html: { class: "label-title"},
              wrapper: :vertical_collection_inline,
              wrapper_html: { class: "label-input-text white-background "}
  %>
  <%= f.input :notes,
              label_html: { class: "label-title"},
              input_html: { class: "label-input-text grey-background "} %>

  <%= f.input :photo, as: :file,
              label_html: { class: "label-title"},
              input_html: { hidden: true } %>
                <div class="flex-box photo-wrapper">
                  <% if @pattern.photo_in_database? %>
                    <%= cl_image_tag(photo_key_from_database(@pattern), class: 'image-thumbnail') %>
                    <div class="thumbnail-overlay"></div>
                  <% else %>
                    <%= image_tag("", class: "image-thumbnail", style: "display:none") %>
                    <div class="thumbnail-overlay"></div>
                  <% end %>
                    <div class="delete-and-upload-btns">
                      <%= f.input :delete_photo,
                              as: :boolean,
                              checked_value: true,
                              unchecked_value: false,
                              label_html: { class: "btn-basic btn-light-blue-ghost delete-button" } %>
                    </div>
                </div>
  <div class="flex-box-two-btns">
    <%= link_to "Cancel", dynamic_cancel_path(session), class:"btn-basic btn-light-blue-ghost" %>
    <%= f.submit "Save Pattern", class:"btn-basic btn-light-blue-solid" %>
  </div>
<% end %>
