<%= simple_form_for(setup_project(@project)) do |project_form| %>
  <%= project_form.input :title,
                         label_html: { class: "label-title"},
                         input_html: { class: "label-input-text"}%>
  <%= project_form.association :pattern,
                               collection: current_user.patterns.order(title: :asc),
                               label_html: { class: "label-title"},
                               input_html: { class: "label-input-text"} %>
  <%= project_form.simple_fields_for :fabrics do |fabric_form| %>
    <%= fabric_form.label :title,
                          label: "Fabric ##{fabric_form.index + 1}",
                          class: "label-title" %>
    <div class="flex-box-input-and-delete">
      <%= fabric_form.input :title,
                            label: false,
                            placeholder: "Add up to 3 different fabrics.",
                            input_html: { class: "label-input-text"} %>
      <%= fabric_form.check_box :_destroy %>
      <%= fabric_form.label :_destroy, "<i class='far fa-trash-alt delete-icon'></i>".html_safe %>
    </div>
  <% end %>
  <%= project_form.input :description,
                         label_html: { class: "label-title"},
                         input_html: { class: "label-input-text"} %>
  <%= project_form.input :size,
                         label_html: { class: "label-title"},
                         input_html: { class: "label-input-text"}%>
  <%= project_form.input :status,
                         collection: Project::STATUSES,
                         label_html: { class: "label-title"},
                         input_html: { class: "label-input-text"} %>
  <%= project_form.input :photo, as: :file,
                         label_html: { class: "label-title"},
                         label: "Photo<span class='small-text margin-left'>(If you don't upload any image we'll use the pattern image instead.)</span>".html_safe,
                         input_html: { hidden: true } %>

                         <div class="flex-box photo-wrapper">
                         <% if @project.photo_in_database? %>
                           <%= cl_image_tag(photo_key_from_database(@project), class: "image-thumbnail") %>
                           <div class="thumbnail-overlay"></div>
                         <% else %>
                           <%= image_tag("", class: "image-thumbnail", style: "display:none") %>
                           <div class="thumbnail-overlay"></div>
                         <% end %>
                           <div class="delete-and-upload-btns">
                             <%= project_form.input :delete_photo,
                                     as: :boolean,
                                     checked_value: true,
                                     unchecked_value: false,
                                     label_html: { class: "btn-basic btn-light-blue-ghost delete-button" } %>
                           </div>
                       </div>
  <div class="flex-box-two-btns">
    <%= link_to "Cancel", dynamic_cancel_path(session), class:"btn-basic btn-light-blue-ghost" %>
    <%= project_form.submit "Save Project", class:"btn-basic btn-light-blue-solid" %>
  </div>
<% end %>
