<h1>Your Projects</h1>
<p> <%= link_to "Add new project", new_project_path, class: "btn-basic btn-light-blue-solid" %> </p>

<div class="pattern-cards">
  <% @projects.each do |project| %>
    <%= link_to project_path(project) do %>
      <div class="pattern-card project-card" id="<%= project.id %>">
        <div>
          <h3><%= project.title %></h3>
          <p><%= project.pattern.title %></p>
          <p><%= project.pattern.designer %></p>
          <div class="fabric-type-label"><%= project.pattern.fabric_type %></div>
        </div>

        <div>
          <%= image_tag "#{project.pattern.garment_category_image_path}", class: "garment-category-icon" %>
          <div class="project-status-icon" id="<%= project.status.downcase.delete(" ") %>">
            <%= project.status %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
