<h1>Your Projects</h1>
<%= render 'shared/search_form_projects' %>

  <div class="flex-box top-margin">
    <% if filter_name.nil? %>
      <h2>Projects</h2>
    <% else %>
      <h2><%= filter_name.capitalize %></h2>
    <% end %>
    <div class="margin-left">
      <%= "#{@projects.count} #{'result'.pluralize(@projects.count)}" %>
    </div>
  </div>

<div class="pattern-cards">
  <% @projects.each do |project| %>
    <%= link_to project_path(project) do %>
      <div class="pattern-card project-card" id="<%= project.id %>">
        <div>
          <h3><%= project.title %></h3>
          <p><%= project.pattern.title %></p>
          <p><%= project.pattern.designer %></p>
          <div class="fabric-type-label"><%= project.pattern.fabric_type %></div>
        </div>

        <div>
          <%= image_tag "#{project.pattern.garment_category.image_path}", class: "garment-category-icon" %>
          <%= image_tag "#{project.status_icon_image_path}", class: "project-status-icon" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

