<div class="container">
  <h1> <%= @project.title %> </h1>
  <div>
    Image
  </div>


  <div> <!-- A Flexbox for Pattern + Size + Fabrics -->
    <div class="wrapper-pattern-show-page">
        <div class="pattern-card show-pattern-card">
          <div>
            <h3><%= @project.pattern.title %></h3>
            <p><%= @project.pattern.designer %></p>
            <div class="fabric-type-label"><%= @project.pattern.fabric_type %></div>
          </div>
          <div class="garment-category-icon" id="<%= @project.pattern.garment_category.downcase.gsub("/","") %>" >
            <%= @project.pattern.garment_category %>
          </div>
        </div>

        <p> <%= @project.pattern.pattern_url %></p>
        <p> <%= @project.pattern.notes %> </p>
    </div>

    <div> <!-- A Flexbox for Size + Fabrics -->
      <div>
        <h3>Size</h3>
        <div> <%= @project.size %> </div>
      </div>

      <div>
        <h3>Fabrics</h3>
          <div>
            <% @project.fabrics.each do |fabric| %>
              <div><%= fabric.title %></div>
            <% end %>
          </div>
      </div>
    </div>
  </div>

  <div> <!-- A Flexbox the Description -->
    <h3>Description</h3>
    <div>
      <%= @project.description %>
    </div>
  </div>

  <hr>

  <div class="flex-box-two-btns"> <!-- A Flexbox for the Buttons -->
    <%= link_to "Back", projects_path, class:"btn-basic btn-light-blue-ghost" %>
    <%= link_to "Edit", "#", class:"btn-basic btn-light-blue-solid" %>
  </div>

</div>
