This is the project page
<h1> <%= @project.title %> </h1>
<p> <%= @project.pattern.designer %> </p>
<p> <%= @project.garment_category %> </p>
<p> <%= @project.pattern.title %> </p>
<p> <%= @project.start_date %> - <%= @project.end_date %> </p>
