<div class="pattern-details">
  <p>
    <% if @pattern.purchased %>
      <% if @pattern.pattern_url.empty? %>
        <i class="fas fa-check-circle yellow-font bigger"></i>
        You own this pattern. Add a pattern url to remember where you bought it.
      <% else %>
        <i class="fas fa-check-circle green-font bigger"></i>
        You own this pattern and bought it <%= link_to "here", @pattern.full_pattern_url, target: "_blank" %>.
      <% end %>
    <% else %>
      <% if @pattern.pattern_url.empty? %>
        <i class="fa fa-frown red-font bigger"></i>
        You don't own this pattern yet. Add a pattern url to remember where you can buy it.
      <% else %>
        <i class="fas fa-shopping-basket yellow-font bigger"></i>
        You don't own this pattern yet. Buy it <%= link_to "here", @pattern.full_pattern_url, target: "_blank" %>.
      <% end %>
    <% end %>
  </p>

  <% unless @pattern.notes.empty?  %>
    <p><%= @pattern.notes %></p>
  <% end %>

  <div class="flex-box-three-btns">
    <%#= link_to "Close", patterns_path+"##{@pattern.id}", class:"btn-basic btn-light-blue-ghost grey-background" %>
    <%= link_to "Edit", edit_pattern_path(@pattern), class: "btn-basic btn-light-blue-ghost" %>
    <%= link_to "Start Project", new_project_path(pattern_id: @pattern.id), class: "btn-basic btn-light-blue-ghost" %>
  </div>
</div>
