<h1>Your Patterns</h1>
<%= render partial: 'shared/search_form', locals: { url: "/patterns", placeholder: "Search for title or designer", background_color: "grey-background" } %>

<div class="flex-box top-margin">
  <% if filter_name.nil? || filter_name == "" %>
    <h2>Patterns</h2>
  <% else %>
    <h2><%= filter_name.capitalize %></h2>
  <% end %>
  <div class="margin-left">
    <%= "#{@patterns.count} #{'result'.pluralize(@patterns.count)}" %>
  </div>
</div>

<div class="cards-container-shared">
  <% @patterns.each do |pattern| %>
    <div class="wrapper-pattern-card card-shared" data-image=<%= pattern.custom_image_tag %> >

      <div class="pattern-card" id="<%= pattern.id %>">
        <div>
        <%= link_to pattern_path(pattern), remote: true do %>
          <h3><%= pattern.title %></h3>
        <% end %>
          <p><%= pattern.designer %></p>
          <div class="label-tag fabric-type fixed-width"><%= pattern.fabric_type %></div>
        </div>
        <%= image_tag "#{pattern.garment_category.image_path}", class: "garment-category-icon", id: "#{pattern.garment_category.normalised_name}" %>
      </div>
      <span class="pattern-image-overlay"></span>
    </div>
  <% end %>
</div>
