<h1>Your Patterns</h1>
<p><%= link_to "Add pattern", new_pattern_path, class: "btn-basic btn-light-blue-solid" %></p>

<div class="pattern-cards">
  <% @patterns.each do |pattern| %>
    <div class="wrapper-pattern-show-page">

      <div class="pattern-card" id="<%= pattern.id %>">
        <div>
        <%= link_to pattern_path(pattern), remote: true do %>
          <h3><%= pattern.title %></h3>
        <% end %>
          <p><%= pattern.designer %></p>
          <div class="fabric-type-label"><%= pattern.fabric_type %></div>
        </div>
        <div class="garment-category-icon" id="<%= pattern.garment_category.downcase.gsub("/","") %>">
          <%= pattern.garment_category %>
        </div>
      </div>

    </div>
  <% end %>
</div>
