
<div class="container">
  <h1>New Pattern</h1>
  <%= simple_form_for(@pattern) do |f| %>
    <%= f.input :title,
                label_html: { class: "label-title"} %>
    <%= f.input :designer,
                label_html: { class: "label-title"} %>
    <%= f.input :fabric_type,
                collection: Pattern::FABRIC_TYPES,
                prompt: "Select...",
                label_html: { class: "label-title"}
                %>
    <%= f.input :garment_category,
                collection: Pattern::GARMENT_CATEGORIES,
                prompt: "Select...",
                label_html: { class: "label-title"}
                %>
    <%= f.input :pattern_url,
                label_html: { class: "label-title"} %>
    <%= f.input :notes,
                label_html: { class: "label-title"} %>
    <%= f.submit "Save Pattern", class:"btn-basic btn-light-blue-solid" %>
  <% end %>
</div>
