<div class="container">
  <div class="wrapper-pattern-show-page">

      <div class="pattern-card show-pattern-card">
        <div>
          <h3><%= @pattern.title %></h3>
          <p><%= @pattern.designer %></p>
          <div class="fabric-type-label"><%= @pattern.fabric_type %></div>
        </div>
        <div class="garment-category-icon" id="<%= @pattern.garment_category.downcase.gsub("/","") %>" >
          <%= @pattern.garment_category %>
        </div>
      </div>

      <p> <%= @pattern.pattern_url %></p>
      <p> <%= @pattern.notes %> </p>

      <div class="flex-box-three-btns">
        <%= link_to "Back", patterns_path, class:"btn-basic btn-light-blue-ghost yellow-background" %>
        <%= link_to "Edit", edit_pattern_path(@pattern), class: "btn-basic btn-light-blue-solid" %>
        <%= link_to "Start Project", new_project_path(pattern_id: @pattern.id), class: "btn-basic btn-light-blue-solid" %>
      </div>

  </div>
</div>
